$color= {
        primary: #082B59,
        sand: #038C73,
        light: #E6E6FF,
        secondary: #403E8C,
        accent: #3C35F2,
        error: #E63122,
        dark: #0c0a1a
      }

// .container_app  
//     background-color $color.light

// .asideNav
//   i 
//     color $color.light