<template>
  <div class="home ">
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>
    <h2>Hello from home</h2>  
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  components: {

  }
}
</script>
