<template>
	<div class="cont_signIn">
		<v-container class="fill-height" fluid>
			<v-row align="center" justify="center">
				<v-col cols="11" sm="8" md="5">
					<v-card class="elevation-3">

						<v-overlay :value="isLoading">
							<v-progress-circular color="secondary" indeterminate size="90"></v-progress-circular>
						</v-overlay>

						<!-- Toolbar -->
						<v-toolbar color="sand" dense class="bar_auth">
							<v-toolbar-title>Resgistrate</v-toolbar-title>
						</v-toolbar>

						<v-card-text class="card_body">

							<v-form ref="login_form" lazy-validation v-model="valid">
								<v-text-field :rules="nameRules" label="Nombre" name="name" v-model="name" counter="15"
									prepend-inner-icon="mdi-account" type="text" />
								<v-text-field label="Email" name="email" v-model="email" :rules="emailRules"
									prepend-inner-icon="mdi-email" type="email" />
								<!-- password -->
								<v-text-field :rules="passwordRules" id="password" label="Contraseña" name="password"
									v-model="password" prepend-inner-icon="mdi-key" type="password" />
								<v-text-field :rules="password2Rules" id="password2" label="Repite la contraseña"
									name="password" v-model="password2" prepend-inner-icon="mdi-key" type="password" />

								<v-switch v-model="accept" class="mx-2" label="Acepto los terminos y condiciones">
								</v-switch>
							</v-form>
						</v-card-text>

						<v-card-actions>
							<v-spacer />
							<!-- send button -->
							<v-btn large color="primary" @click="signIn()">Registrarme</v-btn>
							<!-- <v-btn  large color="danger"  @click="eje()">otro</v-btn> -->
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>


<script>
	import db from '@/firebase/init_fb'
	import firebase from 'firebase'
	import 'firebase/auth';
	export default {
		name:'SignUp',
		data() {
		return {
			valid: false,
			name: '',
			email: '',
			password: '',
			password2: '',
			accept: false,
			isLoading: false,
			// FORMS RULES
			nameRules: [
				v => !!v || 'Debes llenar el campo',
				v => v.length <= 15 || 'El nombre debe tener menos de 15 caracteres'
			],
			emailRules: [
				v => /.+@.+\..+/.test(v) || 'El e-mail debe ser valido',
				v => !!v || 'Debes llenar el campo'
			],
			passwordRules: [
				v => v.length >= 9 || 'La contraseña debe tener al menos 9 caracteres'
			],
			password2Rules: [
				v => v.length >= 9 || 'La contraseña debe tener al menos 9 caracteres',
				v => this.password == this.password2 || 'Las contraseñas no coincide'
			]

		}
		},

		methods: {
			signIn(){
			if ( this.$refs.login_form.validate() ) {
				this.isLoading= true
				firebase.auth().createUserWithEmailAndPassword(this.email , this.password).then((user) => {
					console.log(user)
					this.isLoading= false
					this.$router.push({name:'Home'})
				}).catch((err) => {
					console.log(err)
					this.isLoading= false
				});
			}else{
				console.log("no te vistas que no vas!")	
			}
			
			},

		},

	}


</script>

<style lang="stylus" scoped>
	
	
		
	.cont_signIn
		background  #E6E6FF
		height 100% 
		display flex
		justify-content center 
		align-items center

	.bar_auth
		display flex
		justify-content center
		.v-toolbar__title
			font-size 1.7em
</style>