<template>
	<div class="cont_signIn">
		<v-container class="fill-height"  fluid>
			<v-row align="center" justify="center">
				<v-col cols="11" sm="8" md="5">
					<v-card px-3 class="elevation-6">
						<v-overlay :value="isLoading">
							<v-progress-circular color="secondary" indeterminate size="90"></v-progress-circular>
						</v-overlay>
						<!-- <v-toolbar    class=" elevation-0 bar_auth">
							<v-toolbar-title>Ingresa</v-toolbar-title>
							<v-toolbar-title>Ingresa</v-toolbar-title>
						</v-toolbar> -->
						<div class="bar_auth">
							<div class=" bar_title">
								<span>Iniciar sesión</span>
							</div>
						</div>
						<v-card-text>
							<v-form ref="ingreso" lazy-validation v-model="valid">
								<!-- Name -->
								<v-text-field outlined :rules="emailRules" label="Email" name="email" v-model="email"
									prepend-inner-icon="mdi-account" type="email" class="my-5" />
								<!-- password -->
								<v-text-field outlined :rules="passwordRules" id="password" label="Password"
									name="password" v-model="password" prepend-inner-icon="mdi-key" type="password"
									class="my-5" />
							</v-form>
						</v-card-text>
						<v-card-actions>
							<v-spacer />
							<!-- send button -->
							<v-btn class="cta" block large  color="accent" @click="login">Login</v-btn>
						</v-card-actions>
					</v-card>
					<div class="helpAuth d-flex justify-center">
						<span class=" text-center">¿No tienes una cuenta? 
							<v-btn class="mx-2" outlined color="white" small>crea una gratis</v-btn> 
						</span>
					</div>
				</v-col>
			</v-row>
		</v-container>

	</div>
</template>


<script>
	import firebase from 'firebase';
export default {

	data() {
		return {
			valid: false,
			email: '',
			password: '',
			emailRules: [
				v => !!v || 'Debes llenar el campo',
				v => /.+@.+\..+/.test(v) || 'El e-mail debe ser valido',
			],
			passwordRules: [
				v => !!v || 'Debes llenar el campo',
			],
			isLoading: false
		}
	},
	methods: {
		login() {
			let valido = this.$refs.ingreso.validate()
			this.isLoading= true
			// console.log(valido)
			firebase.auth().signInWithEmailAndPassword(this.email, this.password).then((user) => {
				console.log(user)
				this.isLoading= false
				this.$router.push({name: 'Home'})
			}).catch((err) => {
				console.log(err)
				this.isLoading= false
			});
		}
	}
}
</script>

<style lang="stylus" scoped>
	.cont_signIn
		background linear-gradient(to top right, #3C35F290 10%, #254FDB90  65%, #F2894E90 115%);
		height 100%
		display flex
		justify-content center
		align-items center

	.v-card
		padding: 1.5em 2em;
	.bar_auth
		display flex
		justify-content center
		align-items center
		height: 5em;
		.bar_title
			font-size 1.7em
			color #0c0a1a
			font-weight 500
	
	.cta
		font-weight 800 !important
		font-size: 1em !important;
		

	.helpAuth *
		color white

	.helpAuth
		margin: 4em 0  0 0;
		font-size: 1em;

// 		@font-face {
//   font-family: 'nexa';
//   font-style: normal;
//   font-weight: 500;
//   src: local('nexa-r'), local('nexa-r'), url(/web/content/883) format('truetype');
// }
// @font-face {
//   font-family: 'nexa';
//   font-style: normal;
//   font-weight: 700;
//   src: local('nexa-b'), local('nexa-b'), url(/web/content/882) format('truetype');
// }

</style>