<template>
	<v-navigation-drawer v-model="drawer"   expand-on-hover color="rgb(230, 230, 255)" class="elevation-1" app>
		<v-list-item class="px-2 asideNav">
			<v-list-item-avatar class="profilePic">
				<v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
			</v-list-item-avatar>

			<v-list-item-title>John Leider</v-list-item-title>

			<v-btn icon @click.stop="mini = !mini">
				<v-icon>mdi-chevron-left</v-icon>
			</v-btn>
		</v-list-item>

		<v-divider></v-divider>
		<!-- lista del menu drawer -->
		<v-list dense>
			<v-list-item v-for="item in menu"   :key="item.title" link @click="item.action()">
				<v-list-item-icon class="itemIcon my-4">
					<v-icon color="muted darken-4" >{{ item.icon }}</v-icon>
				</v-list-item-icon>

				<v-list-item-content>
					<v-list-item-title>{{ item.title }}</v-list-item-title>
				</v-list-item-content>
			</v-list-item>
		</v-list><!-- FIN lista del menu drawer -->
		<!-- <v-btn   @click="w()" class=" mx-auto" fab light small color="primary">
			<v-icon>fas fa-sign-in-alt</v-icon>
		</v-btn> -->

	</v-navigation-drawer>
</template>




<script>
import firebase from 'firebase/app'
import 'firebase/auth'
export default {
	data() {
		return {
			
			menu: {},
			drawer: true,
			mini: true,
		}
	},
	created() {
		//clase items menu
		class menuItem {
			constructor(title, icon, action,) {
				this.title = title;
				this.icon = icon;
				this.action = action
			
			}
			action(){
				this.action
			}
		};
		
		let menu = {
			home: new menuItem('Home', 'mdi-home', this.goHome),
			myAccount: new menuItem('My Account','mdi-account' ),
			users: new menuItem('Users','mdi-account-group-outline' ),
			logOut: new menuItem('Cerrar cesion', 'fas fa-sign-in-alt', this.loguout, )
		}
		this.menu = menu;
		// let home = new menuItem('Home', 'mdi-account-group-outline')

	},
	methods: {
		w() {
			var user = firebase.auth().currentUser;
			if (user) {
				console.log(user)
			} else {
				
				console.log('no hay usuario conectadio')
			}
		},
		goHome(){
			this.$router.push({
				name: 'Home'
			})
		},
		loguout(){
				firebase.auth().signOut().then(()=> this.$router.push({name: 'Sign_in'}))
				.catch((err) => console.log(err))
		}
	},



}
</script>


<style lang="stylus" >
	.ultime
		margin-top auto
		color red !important
		
	.profilePic
		margin 11.8px 0 !important

	.itemIcon:last-child
		color red !important
</style>