<template>
	<v-footer dark padless>
		<v-card flat tile class="secondary  white--text text-center">
			<v-card-text>
				<v-btn v-for="icon in icons" :key="icon" class="mx-4 white--text" icon>
					<v-icon size="24px">{{ icon }}</v-icon>
				</v-btn>
			</v-card-text>

			<v-card-text class="white--text pt-0">
				Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet. Mauris cursus commodo interdum.
				Praesent ut risus eget metus luctus accumsan id ultrices nunc. Sed at orci sed massa consectetur
				dignissim a sit amet dui. 
			</v-card-text>

			<v-divider></v-divider>

			<v-card-text class="white--text">
				{{ new Date().getFullYear() }} — <strong>Hexagon</strong>
			</v-card-text>
		</v-card>
	</v-footer>
</template>

<script>
	export default {
		data: () => ({
			icons: [
				'fab fa-facebook',
				'fab fa-twitter',
				'fab fa-linkedin',
				'fab fa-instagram',
			],
		}),
	}
</script>