<template>

	<v-app-bar  :class="{noPadding: noUser}" color="rgb(230, 230, 255)"   app >
		<div class="brand mx-4 h-100">
			<img class="logo" src="@/assets/hexagon-01.png" alt="">
			<v-toolbar-title class="mx-2">Hexagon</v-toolbar-title>
		</div>  
		

		<v-spacer></v-spacer>

		<router-link to="/sign_in">
			<v-btn outlined class="navBoton mx-2" color="accent">
				Iniciar sesión
			</v-btn>
		</router-link>

		<router-link to="/sign_up">
			<v-btn depressed class="mx-2 navBoton" color=" primary">
				Prueba gratis
			</v-btn>
		</router-link>
		
	</v-app-bar>
</template>
<script >
	import firebase from 'firebase/app'
	import 'firebase/auth'
	export default {
		props:[
			'noUser'
		],
		data() {
			return {
				no_user: this.noUser,
			}
		},

		// computed: {
		// 	return: this.no_user = this.noUser
		// },
		
		
}
</script>

<style lang="stylus" scoped>
	.navBoton
		font-weight 700
		letter-spacing 1px
		text-transform none !important
	.h-100
		height 100%
		display flex
		align-items center
	.brand
		font-weight 600
		.logo
			height 75%
			
	.noPadding
		padding-left 0 !important
		left 0 !important
</style>