<template>
	<v-app>
		<!-- menu, user dashboard -->
		<NavBar :noUser="this.noUser" />
		<Aside_nav v-if="!noUser"/>
		<!-- menu, user dashboard -->
	
		<v-content :class="userAjust" fill-height class="container_app">
			<router-view></router-view>

			<Foot/>
		</v-content>


	</v-app>
</template>
<script>
	import NavBar from './components/NavBar'
	import Aside_nav from './components/Aside_nav'
	import Foot from './components/Foot'
	import firebase from 'firebase/app'
	import 'firebase/auth'
	export default {
		name: 'App',
		components: {
			NavBar,
			Aside_nav,
			Foot
		},
		data() {
			return {
				noUser : true,
				inAuth : false

				
			}
		},

		created() {
			let isUser = firebase.auth().currentUser;
			(isUser) ? this.noUser = false
			: this.noUser = true
			
			this.route = this.$route
			console.log(route)
		},

		computed: {
			userAjust: function () {
				return {
					paddingLeftNone: this.noUser,
					paddingTopNone: this.inAuth
					// active: this.isActive ,
					// active2: this.error
				}
			}
		}

}
</script>

<style lang="stylus" >
@import'./styles/*'
	@font-face 
		font-family: 'gordita';
		font-style: normal;
		font-weight: 800;
		src: local('gordita-r'), local('gordita-r'), url(./assets/fonts/gordita/Gordita_Bold.woff) format('truetype');
	
	@font-face 
		font-family: 'gordita';
		font-style: normal;
		font-weight: 700;
		src: local('gordita-r'), local('gordita-r'), url(./assets/fonts/gordita/Gordita_Medium.woff) format('truetype');
	
	@font-face 
		font-family: 'gordita';
		font-style: normal;
		font-weight: 500;
		src: local('gordita-r'), local('gordita-r'), url(./assets/fonts/gordita/Gordita_Regular.woff) format('truetype');
	
	@font-face 
		font-family: 'gordita';
		font-weight: 400;
		src: local('gordita-l'), local('gordita-l'), url(./assets/fonts/gordita/Gordita_Light.woff) format('truetype');
	*
		font-family gordita
		
	.paddingLeftNone
		padding-left 0 !important
	.paddingTopNone
		padding-top 0 !important
	
	.asideNav
		i
			color $color.seundary
	.active
		background red !important
	.active2
		color grenn !important 
</style>
